<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/OmAlvestaBK.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="containerNav">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/alvestabk">AlvestaBK</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/foto">Foto</a></li>
                                <li><a href="/video">Video</a></li>
                                <li><a href="/ourSponsor">Vår sponsor</a></li>
                                <li><a href="/getSponsor">Bli sponsor</a></li>
                                <li><a href="/about">Om oss</a></li>
                            </ul>
                            <!-- <ul class="nav navbar-nav navbar-right">
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            </ul> -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <h1>Våra styrelse</h1>
    <p>I våra styrelse sitter en bra team som har startat denna förening i 2015 år</p>
    <div class="containerStyrelse">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <a target="_blank" href="">
                            <img src="/img/Page_about_us/styrelse.jpg" alt="styrelse"></a>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <h3>Om våra team </h3>
                        <p> I våra team finns 4 personer som är ................
                            ....................................................
                            ............................................................
                            ..................................................................
                            .....................................................................
                            ......................................................</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="containerFooter">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <footer class="footer-distributed">

                    <div class="footer-left">

                        <h3>Alvesta<span>BK </span></h3>

                        <p class="footer-links">
                            <a href="#">Home</a>
                            ·
                            <a href="#">Blog</a>
                            ·
                            <a href="#">Pricing</a>
                            ·
                            <a href="#">About</a>
                            ·
                            <a href="#">Faq</a>
                            ·
                            <a href="#">Contact</a>
                        </p>

                        <p class="footer-company-name">Alvesta brotnings club &copy; 2015</p>
                    </div>

                    <div class="footer-center">

                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p><span>Hjörtsbergavägen 10D</span> Alvesta, Sweden</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+(46) 729 25 24 29</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p><a href="mailto:AlvestaBK@gmail.com">AlvestaBK@gmail.com</a></p>
                        </div>

                    </div>

                    <div class="footer-right">

                        <p class="footer-company-about">
                            <span>Om AlvestaBK</span>
                            jasiodjajsdoiajsoidjajjsidjaoijsdoijaisjdiajidjasijdajsijdoi
                            acmanmcoinmwanasndanundoiansansdion, asd
                            asdasdasdascrewgfreyetyururgdrgreg.
                        </p>

                        <div class="footer-icons">
                            <a href="https://www.facebook.com/alvestabk/"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/alvesta_bk"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/alvesta_brottningsklubb/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCvn6yVW7SJt_UQQpkkMzi4w"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>

                </footer>
            </div>
        </div>
    </div>


</body>

</html>